<h2>Track Editer</h2>
<form action="/tracks/<%= @track.id %>" method="post">
<input type="hidden" name="_method" value="patch">

  <div class="card">
    <label>Title: <br>
      <textarea name="track[title]" id="track_title" cols="30" rows="3" required><%= @track.title %></textarea>
    </label>
  </div>

  <div class="card">
    <label>Description: <br>
      <textarea name="track[description]" id="track_description" cols="30" rows="10"><%= @track.description %></textarea>
    </label>
  </div>

  <h3>Chapters:</h3>
    <% @track.chapters.each.with_index(1) do |chapter, i| %>

      <div class="card">
        <span class="breakable">Chapter <%= i %>.</span>
        <label class="breakable">Title:
          <input  type="text" class="chapter-title delete-if-empty" name="chapters[<%= chapter.id %>][title]"
                  value="<%= chapter.title %>" placeholder="Leave blank to delete with all of it's quizzes!">
        </label>
        <span class="breakable">Contains <%= chapter.quizzes.count %> quizzes. <a class="button-breakable" href="/chapters/<%= chapter.id %>/edit">edit</a></span>
      </div>

    <% end %>
    
  <h3>New Chapters:</h3>
    <% 8.times.with_index(@track.chapters.length + 1) do |x, count| %>

      <div class="card">
        <span class="breakable">Chapter <%= count %>.</span>
        <label class="breakable">Title: <input type="text" class="chapter-title" name="new_chapters[][title]" placeholder="will not be added if blank"></label>
      </div>

    <% end %>

  <input type="submit" class="button" value="Save all changes">
</form>