<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title><%= @title + ' - ' if @title %>Remember It</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Remember it</h1>
      <nav>
        <% if @logged_in %>
          <a href="/account"><%= @user.first_name %></a>
          <a href="/account/logout">Log out</a>
        <% else %>
          <a href="/account/signup">Sign up</a>
          <a href="/account/login">Log in</a>
        <% end %>
      </nav>
      <br><br>
    </header>
    <div class="messages">
      <% recieve_messages.each do |message| %>
        <div class="message message-<%= message[:intent] %>"><%= message[:content] %></div>
      <% end %>
    </div>

    <%= yield %>

    <footer class="branding">
      <br><br>
      <small>
        <p>
          Created by <strong>Arye Dov Eidelman</strong>.
        </p>
        <p>
          This work is licensed under the 
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            Creative Commons Attribution-NonCommercial 4.0 International License
          </a>.
        </p>
        
      </small>
    </footer>
  </div>

  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script-->
</body>
</html>
